
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.loginForm input {
  width: 95%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: #f1f1f1;
  font-size: 1rem;
}

.loginForm input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.forgotPasswordLink {
  align-self: flex-end;
}

.forgotPasswordLink:hover {
  color: #007bff;
}

h3 {
  margin: 0;
  text-align: center;
  color: #007bff;
}

h6 {
  margin-bottom: 0.5rem;
}

.subtitle1 {
  margin-top: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
button[type="submit"] {
  padding: 0.5rem 1.5rem 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 40px;
  width: 120px;
 margin-bottom : 1rem;

}

button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #0062cc;
}
.Heading{
  font-size:x-large;
  /* border: 2px solid red; */
  font-weight:900;
  color:#68aefa;;
}
@media screen and (max-width: 600px) {
  .Heading{
    font-size:x-large;
    /* border: 2px solid red; */
    font-weight:900;
    

  }
}