.account {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 92vh;
    
  }
  
  .accountleft {
    /* background-image: linear-gradient(to right, #fff5bc, #cec1ff); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    overflow-y: auto;
    border: 2px solid black;
  
  }
/*   
   .accountleft::-webkit-scrollbar {
  

  }  */
  .accountright::-webkit-scrollbar {
    display: none;
  }
  
  .accountright {
      margin: 0vmax  2vmax 0vmax 2vmax; 
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);  */
  background-color: white;
    padding :2vmax;
     border: 2px solid grey; 
     border-radius:2%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accountright img:hover {
    transform: scale(1.1);
  }
  
  .accountright img {
    transition: all 0.5s;
  }
  
  .accountright > h5 {
    margin: 2vmax;
  }
  
  .accountright > a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    font: 100 1.2rem "Roboto";
    text-align: center;
    margin-top: 2vmax;
    padding: 0.5vmax 1vmax;
    transition: all 0.5s;
    
  }
  
  
  .accountright > a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  }
  .accountright > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
  }
  
  .accountright > div > button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  }
  .accountright > div > button {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
    padding: 0.5vmax 1vmax;
  
  }
  .DialogBoxx{
     height:auto;
  }
  @media screen and (max-width: 600px) {
    .account {
      grid-template-columns: 2fr 1fr;
    
    }
    .DialogBoxx{
      height:auto;
   }
   
   
    .accountleft {
      padding: 0;
      min-height: 90vh;
      width: 100%;
      

    }
    .accountleft::-webkit-scrollbar {
      display: none;
    } 
/*      
  .accountright::-webkit-scrollbar {
    display: none;
  } */
  
    .accountright{
        width: 93%;
    } 
  
    .accountright > a {
      font: 100 1rem "Roboto";
      margin-top: 6vw;
    }
    .accountright .userName{
         font-size: x-small;
         font-weight:900;
    }
    /* .unfollowButton{
      font-size: x-small;
      width: fit-content;
   } */
  }